
@font-face { src: url("./fonts/crayone.otf"); font-family: crayone; }

html, body {
	margin: 0;
	padding: 0;
}
	
#displayCase {
	width: 100%;
	height: auto;
	position: relative;
	overflow: auto;
}

.fmImages {
/*	width: 100%;
	height: 100%;
	width: 32vw;
	height: auto;*/
	float: left;
/*	display: block;*/
}

#tablet {
	clear: left;
	width: 70vw;
	height: auto;
	position: absolute;
/*	top: 10vw;
	left: 15vw;*/
	background-color: green;
	border-radius: 4rem;
	border: 0.2rem solid black;
}

.openingText {
	font-family: crayone;
	color: darkred;
	font-weight: 600;
	letter-spacing: 0.15rem;
	text-align: center;
}

#looking {
	padding: 1rem 3rem;
}

#explain {
	font-size: 1.2rem;
	padding: 0 2rem;
}

#quote {
	font-size: 1.4rem;
	padding: 2rem 1rem;
}

.push {
	width: auto;
	height: 6rem;
	background-color: black;
}

#fontBox {
	width: 12rem;
	height: 20.6rem;
	background-color: cornsilk;
	font-family: crayone;
	color: darkred;
	font-weight: 600;
	letter-spacing: 1.5rem;
	font-size: 20rem;
	text-align: center;
}


/*
Capital Letters = 0.72 wide, 1.03 high
L = 0.64
letters = 0.66 wide, 1.03 high
i = 0.29 wide
*/